/* 
  Style.css file is linked in the header template, therefore
  it is applied to every page of our application.
  Write some style to begin.
*/

/* ------------------------ COMANDOS --------------------------- */

.stats{
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding: 50px 10px 10px;
}

.card:hover{
    transform: scale(1.03) translateZ(0);
    transition: transform 0.2s ease-in;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    background-color: #FFFFFF;
}

.botonxd{
    font-weight: 700; 
    display: inline-block; 
    padding: 8px 10px; 
    background: #3576EC; 
    text-decoration: none; 
    border-radius: 8px;
    cursor: pointer;
}

.botonxd>a{
    color: #1C1919;
}

.botonxd:hover{
    background: #1C1919;
}

footer{
    background: rgb(31, 30, 30);
    padding: 50px 10px 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.pfooter{
    width: 20%;
    text-align: center;
}

.pfooter h4{
    color: rgb(189, 189, 189);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.pfooter a{
    display: block;
    text-decoration: none;
    color: rgb(189, 189, 189);
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.pfooter a:hover {
    color: rgb(5, 100, 224);
}

::-webkit-scrollbar{
    width: 18px;
    background: #3C3C3C;
}

::-webkit-scrollbar-thumb{
    background: #636363;
    border-radius: 12%;
}

