<%- include("header", { bot, user, path, title: "Azami - Comandos" }) %>

<div class="bg-dark">
	<div class="container">
		<div class="m-0 vh-100 row jsutify-content-center align-items-center">
			<div class="col-auto p-5 mx-auto">
			<h5 style="color: #fff; font-size: 48px;">Error 404. Página no encontrada.</h5>
			<img class="img-fluid mx-auto d-block p-5" src="https://emoji.gg/assets/emoji/1919-bruhmm.gif">
			</div>
		</div>
	</div>
</div>