  <footer>
        <div class="pfooter">
            <h4>&copy; Azami 2021.</h4>
        </div>
        <div class="pfooter">
            <h4>Creador</h4>
            <a href="#">Nero.</a>
        </div>
        <div class="pfooter">
            <h4>Acerca de</h4>
            <a href="#">Comandos</a>
            <a href="#">Guía de uso</a>
        </div>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>