<%- include("partials/header", { bot, user, path, title: "Azami - Selecciona un módulo" }) %>

<div style="background: #323A41;">
<div class="container-sm p-5 center" style="height: 60rem; ">

<div class="justify-space-evenly d-flex flex-wrap m-auto">
	<i class="fas fa-book-reader pe-4 fs-1" style="color: #fff;"></i>
	<h5 class="fs-1" style="color: #fff;">Bienvenidas</h5>
</div>

<!--

<div class="btn-group container-sm" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
      <%- gm %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <li class="dropdown-item"><%- gm %></li>
    </ul>
  </div>

<form method="POST">
<input type="text" name="sts" class="form-control" placeholder="Mensaje">
<br><button type="submit" class="btn btn-secondary text-white">Save Settings</button>

</form> 

-->

</div>
</div>

<%- include("partials/footer") %>