

<!DOCTYPE HTML> <html> <head> <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <meta http-equiv="refresh" content="5;URL=https://discord.com/api/oauth2/authorize?client_id=798372219620819004&permissions=1593109878&redirect_uri=https%3A%2F%2Fazami.cf%2Fcallback&scope=bot%20applications.commands"> </head> <body> </body> </html>